/* Text Shortcuts Plugin Styles */

.text-shortcuts-container {
  padding: 16px;
  height: 100%;
}

.text-shortcuts-list {
  height: calc(100% - 330px);
}

.text-shortcuts-header {
  margin-bottom: 16px;
  border-bottom: 1px solid var(--background-modifier-border);
  padding-bottom: 8px;
}

.text-shortcuts-subheading {
  font-size: 14px;
  font-weight: 600;
  margin: 12px 0 8px;
  color: var(--text-muted);
}

.text-shortcuts-items {
  height: calc(100% - 30px);
  overflow-y: auto;
}

.text-shortcuts-item {
  display: flex;
  align-items: flex-start;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 4px;
  background-color: var(--background-secondary);
  position: relative;
}

.text-shortcuts-item:hover {
  background-color: var(--background-secondary-alt);
}

.text-shortcuts-number {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--background-modifier-border);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-right: 8px;
}

.text-shortcuts-text {
  flex-grow: 1;
  cursor: pointer;
  font-size: 14px;
  padding: 2px 0;
}

.text-shortcuts-delete {
  opacity: 0;
  cursor: pointer;
  color: var(--text-muted);
  font-size: 18px;
  line-height: 1;
  padding: 0 4px;
}

.text-shortcuts-item:hover .text-shortcuts-delete {
  opacity: 1;
}

.text-shortcuts-delete:hover {
  color: var(--text-error);
}

.text-shortcuts-textarea {
  width: 100%;
  height: 100px;
  background-color: var(--background-primary);
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  resize: vertical;
  margin-bottom: 8px;
}

.text-shortcuts-button-container {
  display: flex;
  justify-content: flex-end;
}

.text-shortcuts-add-button {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.text-shortcuts-add-button:hover {
  background-color: var(--interactive-accent-hover);
}

.text-shortcuts-help {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--background-modifier-border);
}

.text-shortcuts-help-text {
  font-size: 12px;
  color: var(--text-muted);
}

/* 在链接的又有两边添加微量的间距 */
.cm-hmd-internal-link>.cm-underline::before,
.cm-hmd-internal-link>.cm-underline::after {
  padding-left: 2px;
  padding-right: 2px;
}

.cm-formatting-link-start {
  padding-left: 2px;
}

.cm-formatting-link-end {
  padding-right: 2px;
}

/* 行首链接 */
/* .cm-line>.cm-hmd-internal-link:not(.cm-hmd-internal-link ~ .cm-hmd-internal-link)>.cm-underline {
  margin-left: 0;
} */